.shopping-cart-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.cart-items-container {
    display: flex;
    width: 70%;
    /* border: 1px solid #D4E3EB; */
    height: 550px;
}

.items-container {
    width: 60%;
    border: 2px #D4E3EB solid;
    height: 100%;
    margin-right: 10px;
}

.order-summary-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #D4E3EB;
    height: 100%;
    width: 40%;
    margin-left: 10px;
}

.order-summary-title {
    padding-top: 20px;
    border-bottom: 2px solid #D4E3EB;
    height: 40px;
    font-family: sans-serif;
    font-weight: 700;
    padding-left: 10px;
    background-color: #F0F5F7;
    text-align: center;
}


.items-in-cart-title {
    padding-top: 20px;
    border-bottom: 2px solid #D4E3EB;
    height: 40px;
    font-family: sans-serif;
    font-weight: 700;
    padding-left: 10px;
    background-color: #F0F5F7;
    text-align: center;
}

p {
    margin: 0;
}

#shopping-cart-cart {
    width: 80px;
    height: 80px;
    border: 2px solid #D4E3EB;
    padding: 30px;
    border-radius: 50%;
    margin: 10px;
}

.items-in-cart {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 5px;
    align-items: center;
}


.your-cart-is-empty {
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}


.continu-shopping-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    border: none;
    padding: 10px;
    background-color: #2FB7EC;
    color: white;
    border-radius: 6px;
}

.continu-shopping-btn:hover {
    cursor: pointer;
    background-color: #0098D3;
}


#money-back-box {
    width: 30px;
}


.order-summary {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: stretch;
    width: 100%;
    line-height: 1.5;
    margin-top: 70px;
}


.item-total {
    display: flex;
    justify-content: space-around;
}


.shipping {
    display: flex;
    justify-content: space-around;
}


.order-total {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.money-back-guarantee {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    margin-top: 20px;
}

.money-back-gurantee-body {
    display: flex;
    justify-content: center;
    /* width: 50%; */
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.remove-cartItem-btn {
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #2FB7EC;
    color: white;
    border-radius: 4px;
    padding: 4px;
    height: 30px;
    margin-right: 15px;
}


.remove-cartItem-btn:hover {
    cursor: pointer;
    background-color: #0098D3;
}


.cart-item-card {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 100%;
}


#cart-item-image {
    width: 100px;
}


.cart-item-details {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    margin-left: 25px;
}

.product-cart-details {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}


#quantity-select {
    width: 40px;
    height: 24px;
}

.seperator-checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-seperator {
    /* height: 1px; */
    width: 80%;
    border: 1px solid lightgray;
    /* margin-bottom: 15px; */
}

.checkout-btn {
    margin-top: 30px;
    width: 80%;
    margin-bottom: 30px;
}

#checkout-button {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #FF5622;
}


#checkout-button:hover {
    cursor: pointer;
    background-color: #CC441B;
}
