.main-product-details {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.product-detail-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.product-detail-left-container {
    width: 50%;
}

.product-detail-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(240, 245, 247);
    margin-left: 64px;
}

.product-detail-right {
    display: flex;
    flex-direction: column;
}

.product-right-name {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
}


.product-price-right {
    margin: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.product-detail-image {
    width: 100%;
    border-bottom: 3px solid rgb(240, 245, 247);
}

.customer-reviews-container {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 3px solid rgb(240, 245, 247);
}

.product-description-container {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    /* border-bottom: 1px solid red; */
}

#display-img {
    width: 100%;
}

.add-to-cart-btn {
    bottom: 0;
    border: none;
    font-size: 24px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #FF5622;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    background-color: #CC441B;
}


.edit-delete-btns {
    display: flex;
    justify-content: space-between;
}

.edit-product-btn {
    background-color: #2FB7EC;
    padding: 5px;
    color: white;
    border-radius: 4px;
}

.edit-product-btn:hover {
    cursor: pointer;
    background-color: #0098D3;
}

#delete-product {
    background-color: #FF5622;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

#delete-product:hover {
    background-color: #CC441B;
    cursor: pointer;
}
