.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 35%;
    font-family: sans-serif;
}


#demo-login-button {
    color: white;
    width: 100%;
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    background-color: #2FB7EC;
}

#demo-login-button:hover {
    cursor: pointer;
    background-color: #0098D3;
}

#login-button {
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: #2FB7EC;
}

#login-button:hover {
    cursor: pointer;
    background-color: #0098D3;
}


.user-input {
    width: 100%;
}

#user-input {
    width: 100%;
}

.errors {
    color: red;
}
