.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 40%;
    font-family: sans-serif;
}






#signup-button {
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: #2FB7EC;
}

#signup-button:hover {
    cursor: pointer;
    background-color: #0098D3;
}


.user-input {
    width: 100%;
}

#user-input {
    width: 96%;
}

.errors {
    color: red;
}
