html, body {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
}

.navbar-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-bottom: 2px solid rgb(220, 229, 233);
    align-items: center;
    z-index: 1000000;
}

.phish-home-button {
    margin: 20px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 24px;
}


.right-side-navbar {
    margin: 20px;
    font-family: sans-serif;
}


#phish-shopping-cart {
    width: 24px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all .3s ease; /* back to normal */
}

#phish-shopping-cart:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
}

.sell-with-phish {
    padding: 3px;
    border-radius: 10px;
}

.sell-with-phish:hover {
    color: #5865f2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 20%);
    cursor: pointer;
}

.logout-btn {
    padding: 3px;
    border-radius: 10px;
}

.logout-btn:hover {
    color: #5865f2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 20%);
    cursor: pointer;
}
